.root {
  background-color: #c2c2c2;
  background-image: url('../../assets/loginBG.jpg');
  background-color: #484848;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  .row {
    height: 100vh;
    align-items: center;
    .formBox {
      max-width: 25rem;
      .logo {
        width: 100%;
        padding: 10px;
        position: relative;
        margin-bottom: 1rem;
        img {
          width: 100%;
        }
      }
      .forgotLink {
        float: right;
      }
      .submitButton {
        width: 100%;
      }
    }
  }
}
